2anno/Sistemi informativi/capitolo 5/EsempioCalcolatriceCS/EsempioCalcolatrice/WinWcfClientCalcolatrice/Service References/ServiceReferenceCalcolatrice/ServiceCalcolatrice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceCalcolatrice" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6303/ServiceCalcolatrice.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6303/ServiceCalcolatrice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6303/ServiceCalcolatrice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceCalcolatrice" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceCalcolatrice_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IServiceCalcolatrice_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCalcolatrice_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IServiceCalcolatrice_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCalcolatrice_Somma_InputMessage">
    <wsdl:part name="parameters" element="tns:Somma" />
  </wsdl:message>
  <wsdl:message name="IServiceCalcolatrice_Somma_OutputMessage">
    <wsdl:part name="parameters" element="tns:SommaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCalcolatrice_Sottrai_InputMessage">
    <wsdl:part name="parameters" element="tns:Sottrai" />
  </wsdl:message>
  <wsdl:message name="IServiceCalcolatrice_Sottrai_OutputMessage">
    <wsdl:part name="parameters" element="tns:SottraiResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCalcolatrice_Moltiplica_InputMessage">
    <wsdl:part name="parameters" element="tns:Moltiplica" />
  </wsdl:message>
  <wsdl:message name="IServiceCalcolatrice_Moltiplica_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoltiplicaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCalcolatrice_Dividi_InputMessage">
    <wsdl:part name="parameters" element="tns:Dividi" />
  </wsdl:message>
  <wsdl:message name="IServiceCalcolatrice_Dividi_OutputMessage">
    <wsdl:part name="parameters" element="tns:DividiResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceCalcolatrice">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCalcolatrice/GetData" message="tns:IServiceCalcolatrice_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCalcolatrice/GetDataResponse" message="tns:IServiceCalcolatrice_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCalcolatrice/GetDataUsingDataContract" message="tns:IServiceCalcolatrice_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCalcolatrice/GetDataUsingDataContractResponse" message="tns:IServiceCalcolatrice_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Somma">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCalcolatrice/Somma" message="tns:IServiceCalcolatrice_Somma_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCalcolatrice/SommaResponse" message="tns:IServiceCalcolatrice_Somma_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sottrai">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCalcolatrice/Sottrai" message="tns:IServiceCalcolatrice_Sottrai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCalcolatrice/SottraiResponse" message="tns:IServiceCalcolatrice_Sottrai_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Moltiplica">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCalcolatrice/Moltiplica" message="tns:IServiceCalcolatrice_Moltiplica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCalcolatrice/MoltiplicaResponse" message="tns:IServiceCalcolatrice_Moltiplica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Dividi">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCalcolatrice/Dividi" message="tns:IServiceCalcolatrice_Dividi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCalcolatrice/DividiResponse" message="tns:IServiceCalcolatrice_Dividi_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceCalcolatrice" type="tns:IServiceCalcolatrice">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IServiceCalcolatrice/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IServiceCalcolatrice/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Somma">
      <soap:operation soapAction="http://tempuri.org/IServiceCalcolatrice/Somma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sottrai">
      <soap:operation soapAction="http://tempuri.org/IServiceCalcolatrice/Sottrai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Moltiplica">
      <soap:operation soapAction="http://tempuri.org/IServiceCalcolatrice/Moltiplica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dividi">
      <soap:operation soapAction="http://tempuri.org/IServiceCalcolatrice/Dividi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceCalcolatrice">
    <wsdl:port name="BasicHttpBinding_IServiceCalcolatrice" binding="tns:BasicHttpBinding_IServiceCalcolatrice">
      <soap:address location="http://localhost:6303/ServiceCalcolatrice.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>